/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/backlight.h>
#include "elpekenin/behaviors.dtsi"

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#include <dt-bindings/zmk/pointing.h>

// Helpful macros borrowed from AndrewMSHowe
#define ___ &trans

// Layer numbers for use by the keymap & macros
/*
* #define MACOS     0
* #define WINDOWS   1
* #define M_SYMBOLS 2
* #define W_SYMBOLS 3
* #define NUMPAD    4
* #define M_FKEYS   5
* #define W_FKEYS   6
* #define KB_CONFIG 7
*/

// #include "keymap_behaviors.dtsi"
// #include "keymap_macros.dtsi"

/ {
    behaviors {
        // Shift / Capsword
         scw: scw {
            display-name = "Hold Shift / Tap Capsword";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&caps_word>;
        };
    };

    macros{
           };

    keymap {
        compatible = "zmk,keymap";

        windows_default_layer {
            display-name = "Windows";
            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp LEFT RIGHT>;
            bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮                                 ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
       &kp GRAVE      &kp Q            &kp W           &kp E           &kp R           &kp T     /*|                                 |*/  &kp Y          &kp U           &kp I           &kp O           &kp P          &mt LC(BSPC) BSPC
       &kp TAB        &kp A            &kp S           &kp D           &kp F           &kp G     /*├─────────────╮     ╭─────────────┤*/  &kp H          &kp J           &kp K           &kp L           &kp SEMI       &kp SQT
       &kp LSHIFT     &kp Z            &kp X           &kp C           &kp V           &kp B           &kp F16             &kp F17        &kp N          &kp M           &kp COMMA       &kp DOT         &kp FSLH       &scw RSHIFT 0
/* ╰───────────────┴───────────────┤*/ &kp X           &kp LGUI        &kp LALT        &kp LCTRL       &kp X               &kp X          &kp X          &kp X           &kp RALT        &kp DEL   //├───────────────┴───────────────╯
//                                 ╰───────────────┴───────────────┴───────────────┴───────────────┴─────────────╯     ╰─────────────┴───────────────┴───────────────┴───────────────┴───────────────╯
            >;
        };

    };

};
